*{
  margin: 0;
}
body {
  margin: 0;
  --primary-color:#013A8A;
  --secondary--color:#F06CAB;
  --tertiary--color:#5FA0E0;
  overflow: hidden;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary--color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary-color);
  }
  button {
    background-color: var(--secondary--color);
  }
}
